{% extends 'base.html.twig' %}

{% block title %}Hello ListMessagesController!
{% endblock %}
{% block head %}
	<style>
		.bordered {
			border: 2px solid #000; /* Une bordure noire de 2 pixels */
			padding: 10px; /* Ajout de padding pour l'espace à l'intérieur de la bordure */
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 1em;
			border-radius: 15px;
		}
	</style>
{% endblock %}
{% block body %}

	{% if exception is not null %}
		{{exception}}
	{% else %}


		{% for item in messages %}
			<a href="https://talk.esperlluette.ovh/message?cat={{item.category.id}}&msg={{item.id}}">
				<div class="bordered">
					<h1>{{item.title}}</h1>
					<p>{{item.body}}</p>
				</a>
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}
